body {
    background-color: rgb(40, 38, 38);
}

nav {
    background-color: #667c83;
}

nav a {
   color: #fff3b0;;
}

footer{
    background-color: #667c83;
}

h1,
h2,
h3 {
    font-family: "DynaPuff", sans-serif;
    color: #bd822a;
    margin: 1rem 0rem 0.5rem 0rem;
}

p {
    color: white;
}

ul, li {
    margin-left: 1rem;
    color: white
}